/* 工具選單區 */
.LCTree-ToolArea{
    display: flex;
}

/* 主內容區 */
.LCTree-MainArea{
    height: 100%;
}
.LCTree-MainAreaRow{
    display: flex;
}
.LCTree-MainAreaRowIcon{
    margin-right: 5px;
}
.LCTree-MainAreaRowText{

}

/* 隱藏 */
.LCTree-Hide{
    display: none
}
.LCTree-Icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}